@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root{
    --image-url: url(../img/uno.jpg);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.galeria__title{
    margin-top: 50px;
    font-size: 2rem;
    font-weight: 300;
}

.galeria__title::after{
    content: '';
    display: block;
    height: 4px;
    background: crimson;
    width: 200px;
    margin-top: 20px;
}

.galeria__grid{
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    grid-auto-rows: 350px ;
}

.galeria__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.galeria__picture{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.galeria__picture:hover::before{
    transform: translateY(0);
}

.galeria__picture::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(70, 131, 180, 0.596);
    transform: translateY(100%);
    transition: transform .3s;
}

.show{
    position: fixed;
    background: rgba(0, 0, 0, 0.466);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    transform: scale(0);
}

.show:target{
    transform: scale(1);
}

.show__container{
    width: 90%;
    height: 70%;
    position: relative;
    background-image: var(--image-url);
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 10px rgba(0,0,0, .3);
    margin: auto;
}

.show--n2{
    --image-url: url(../img/dos.jpg);
}

.show--n3{
    --image-url: url(../img/tres.jpg);
}

.show--n4{
    --image-url: url(../img/cuatro.jpg);
}

.show--n5{
    --image-url: url(../img/cinco.jpg);
}

.show--n6{
    --image-url: url(../img/seis.jpg);
}

.show--n7{
    --image-url: url(../img/siete.jpg);
}

.show--n8{
    --image-url: url(../img/ocho.jpg);
}

.show__close{
    background: crimson;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    border-radius: 50%;
}
